
/********************************************
    Fixed image Background
********************************************/

.fixed-img {
	position: fixed;
	transform: translateY(0px);
	height: 70vh;
	z-index: -100;
	width: 100%;
	transition: none;
}
.fixed-img img {
	height: 100%;
}




/********************************************
    Header area
********************************************/

header {
	background: var(--header);
	position: fixed;
	width: 100%;
	z-index: 10;
}
header .top-bar {
	background: var(--topbar);
    padding: 10px 0;
	opacity: 1;
	transition: 0.3s;
}
header.scrolled .top-bar {
	opacity: 0;
	padding: 0;
	height: 0;
}
header .top-bar .wrapper {
	display: flex;
	justify-content: space-between;
    align-items: center;
	color: var(--pure);
}
header .top-bar .phone {
	font-size: 12px;
	font-weight: 300;
}
.social {
	margin-left: 3rem;
    font-size: 0;
}
.social i {
	font-size: 12px;
	margin: 0 10px;
	cursor: pointer;
}
header .top-bar .login {
	flex: 1;
	text-align: right;
	font-size: 0px;
	text-transform: uppercase;
}
header .top-bar .login a {
	padding: 0 10px;
	position: relative;
	font-weight: 300;
	font-size: 12px;
	color: var(--pure);
}
header .top-bar .login a:nth-child(1)::after {
	content: "";
	position: absolute;
	width: 1px;
	height: 10px;
	background: var(--pure);
	right: -2px;
	top: 4px;
}
header .main-nav {
	padding: 3rem 0;
	position: relative;
}
header.scrolled .main-nav {
	padding: 1rem 0;
}
header .main-nav .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: flex;
	align-items: baseline;
}
.logo i {
	font-size: 52px;
	margin-right: 5px;
	color: var(--a-hover);
	/* background: linear-gradient(30deg,#b500b2,yellow);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text; */
}
.logo h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: -1px;
	color: var(--pure);
}
header .main-nav .nav ul {
	display: flex;
	margin: 0;
}
header .main-nav .nav ul li {
	padding: 0px 15px;
    font-weight: 300;
    position: relative;
}
header .main-nav .nav ul li a {
	position: relative;
	color: var(--pure);
    text-transform: uppercase;
    font-size: 14px;
}
header .main-nav .nav ul li a:hover {
	color: var(--primary);
}
header .main-nav .nav ul li a::after {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	background: linear-gradient(to left,#9c179a,var(--a-hover));
	bottom: -12px;
	left: 0;
    transition: 0.2s;
}
header .main-nav .nav ul li:hover a::after {
    width: 100%;
}
.main-nav .search .input {
	position: absolute;
	right: 8%;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
	top: 135%;
}
.main-nav .search.active .input {
    visibility: visible;
    opacity: 1;
	top: 100%;
}
.main-nav .search .input input {
	height: 40px;
	width: 220px;
	padding: 0 10px;
    outline: none;
}
.main-nav .search i {
	cursor: pointer;
	color: var(--pure);
}
.main-nav .search i:hover {
    color: var(--a-hover);
}



/********************************************
    Home Section
********************************************/

section.home {
	background: transparent;
	width: 100%;
	height: 70vh;
	padding: 0;
}
section.home .background {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #24044070;
}
section.home .inner {
	text-align: center;
	color: var(--pure);
}
section.home h1 {
	font-size: 4.5rem;
	text-transform: uppercase;
    margin-top: 8rem;
    font-weight: 800;
}




/********************************************
    Get Touch Section
********************************************/

section.get-touch {
	padding-bottom: 0;
	background: var(--pure);
}
section.get-touch .wrapper {
	display: grid;
	grid-template-columns: 1fr;
}
section.get-touch .left {
	position: relative;
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	grid-gap: 2rem;
	align-items: center;
	padding-top: 3rem;
}
section.get-touch .left .contact-img {
	padding: 2rem;
	margin-bottom: -3rem;
}
section.get-touch .right {
	background: linear-gradient(45deg, var(--primary),var(--secondary));
	padding: 5rem 2rem;
	margin-right: -15px;
	margin-left: 15px;
}
section.get-touch .right h1 {
	color: var(--pure);
	text-align: center;
	margin-bottom: 3rem;
	text-transform: uppercase;
	font-size: 2.5rem;
}
section.get-touch .right div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	margin-bottom: 1rem;
}
section.get-touch .right input, section.get-touch .right textarea {
	height: 50px;
	border: none;
	border-bottom: 2px solid var(--pure);
	width: 100%;
	background: transparent;
	padding: 10px;
	outline: none;
	font-family: poppins;
}
section.get-touch .right input:nth-child(1) {
	order: 1;
}
section.get-touch .right textarea {
	height: 150px;
	padding: 10px;
	margin-top: 2rem;
}
section.get-touch .right .btn-primary {
	background: var(--topbar);
	margin: 0 auto;
	margin-top: 3rem;
}
section.get-touch .contact-info {
	padding-top: 2rem;
}
section.get-touch .item1 .logo {
	margin-bottom: 2rem;
}
section.get-touch .item1 .logo h1 {
	color: var(--dark);
}
section.get-touch .item1 p {
	line-height: 2.5;
}
section.get-touch .item1 .social {
	margin: 3rem 0px;
	color: var(--primary);
}
section.get-touch .item1 .social i {
	border: 1px solid var(--primary);
	padding: 10px;
	border-radius: 50%;
	font-size: 18px;
	margin: 8px;
}
section.get-touch .item1 .social i:hover {
	background: var(--primary);
	color: var(--dark);
}

section.get-touch .contact-info .item {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}
section.get-touch .contact-info .item i {
	width: 30px;
	font-size: 22px;
	color: var(--primary);
	margin-right: 10px;
}
section.get-touch .contact-info .item p {
	color: var(--dark);
	font-weight: 300;
}



/********************************************
    Map Section
********************************************/

section.map {
	padding: 0;
	line-height: 0;
}
section.map iframe {
	width: 100%;
}




























/********************************************
    Footer Section
********************************************/

footer {
	height: 500px;
	background: var(--topbar);
	padding: 5rem 0;
}
footer .wrapper {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 2rem;
}
footer h3 {
	color: var(--pure);
	margin-bottom: 3rem;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 18px;
	margin-top: 1.5rem;
}
footer .logo {
	margin-bottom: 2rem;
}
footer .item1 p {
	line-height: 2;
	color: var(--pure);
	margin-bottom: 1.5rem;
}
footer .social {
	margin: 1rem 0px;
}
footer .social i {
	border: 1px solid var(--primary);
	padding: 8px;
	border-radius: 50%;
	font-size: 14px;
	margin: 5px;
	color: var(--pure);
}
footer .social i:hover {
	background: var(--primary);
	color: var(--dark);
}
footer .blog .item {
	display: flex;
	margin-bottom: 1rem;
}
footer .blog .item {
	display: flex;
	margin-bottom: 1.5rem;
}
footer .blog .item .left {
	width: 68px;
	height: 68px;
	margin-right: 1rem;
}
footer .blog .item .left img {
	height: 100%;
}
footer .blog .right p {
	color: var(--pure);
	margin-bottom: 0.6rem;
}
footer .blog .right span {
	color: var(--primary);
	font-size: 12px;
}
footer .tags .tag-item {
	display: flex;
	flex-wrap: wrap;
}
footer .tags span {
	border: 1px solid var(--primary);
	padding: 10px 18px;
	margin: 6px 5px;
	color: var(--pure);
	font-size: 12px;
}
footer .contact-info .item {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}
footer .contact-info .item i {
	width: 30px;
	font-size: 22px;
	color: var(--primary);
	margin-right: 10px;
}
footer .contact-info .item p {
	color: var(--pure);
	font-weight: 300;
}





/********************************************
    Copyright Section
********************************************/

.copyright {
	background: #1c002d;
	padding: 20px 0;
}
.copyright .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.copyright .left p {
	font-size: 12px;
}
.copyright .right .nav ul {
	display: flex;
}
.copyright .right .nav ul li {
	margin: 0 15px;
	font-size: 13px;
}
.copyright .right .nav ul li a {
	color: var(--paragraph);
	text-transform: uppercase;
}
.copyright .right .nav ul li:hover a {
	color: var(--pure);
}




